# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - strappdyh

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: strappdyh.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_9FD51DB4667349959628F1285128EF7C }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_ABC1BB51D36048C48E9C4B2EE762FDD4 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: strappdyh.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_9FD51DB4667349959628F1285128EF7C }}/strappdocker:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'strappdyh'
          slot-name: 'Production'
          images: 'strappdyh.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_9FD51DB4667349959628F1285128EF7C }}/strappdocker:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E173B5AFEA914376B27CC448E4F26759 }}